<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.hk.gas">
	<resultMap type="com.hk.gas.dtos.GasUserDto" id="GasUserDtoMap">
 		<result property="seq" column="seq"/>
 		<result property="id" column="id"/>
 		<result property="password" column="password"/>
 		<result property="name" column="name"/>
 		<result property="email" column="eamil"/>
 		<result property="phone" column="phone"/>
 		<result property="role" column="role"/>
 		<result property="regdate" column="regdate"/>
	</resultMap>

<resultMap type="com.hk.gas.dtos.BookMarkDto" id="GasBookMarkMap">
		<result property="id" column="id"/>
 		<result property="b_name" column="b_name"/>
 		<result property="location" column="location"/>
 		<result property="gasoline" column="gasoline"/>
 		<result property="diesel" column="diesel"/>
 		<result property="lpg" column="lpg"/>
 		<result property="uni_id" column="uni_id"/>
 		<result property="regdate" column="regdate"/>
	</resultMap>
	
<resultMap type="com.hk.gas.dtos.FreeBoardDto" id="GasFreeBorardMap">
	<result property="seq" column="seq"/>
	<result property="id" column="id"/>
	<result property="title" column="title"/>
	<result property="content" column="content"/>
	<result property="regdate" column="regdate"/>
	<result property="refer" column="refer"/>
	<result property="step" column="step"/>
	<result property="depth" column="depth"/>
	<result property="readcount" column="readcount"/>
	<result property="likecount" column="likecount"/>
</resultMap>

 <insert id="insertuser" parameterType="GasUserDto"> 
 	INSERT INTO GASMEMBER VALUES(GASMEMBER_SEQ.NEXTVAL,#{id},#{password},#{name},#{phone},#{email},'USER',SYSDATE)
 </insert>

<select id="chkid" parameterType="GasUserDto" resultType="java.lang.Integer">
	SELECT NVL(COUNT(*),0) FROM GASMEMBER WHERE UPPER(ID)=UPPER(#{id})
</select>

<select id="findid" parameterType="Map" resultType="GasUserDto">
	SELECT ID FROM GASMEMBER WHERE NAME=#{name} AND PHONE=#{phone}
</select>

<select id="findpwd" parameterType="GasUserDto" resultType="java.lang.Integer">
	SELECT NVL(COUNT(*),0) FROM GASMEMBER WHERE UPPER(ID)=UPPER(#{id}) AND UPPER(EMAIL)=UPPER(#{email})
</select>

<update id="pwdreset" parameterType="GasUserDto">
	UPDATE GASMEMBER SET PASSWORD=#{password} WHERE UPPER(ID)=UPPER(#{id})
</update>

<select id="login"  parameterType="GasUserDto" resultType="GasUserDto">
	SELECT SEQ,ID,PASSWORD,NAME,PHONE,EMAIL,ROLE,REGDATE FROM GASMEMBER WHERE UPPER(ID)=UPPER(#{id}) AND PASSWORD=#{password}
</select>

<update id="updateinfo" parameterType="GasUserDto">
	UPDATE GASMEMBER SET EMAIL=#{email}, PHONE=#{phone}
	 <if test="name!=null">
	 	,NAME=#{name}, ROLE=#{role} 
	 </if>
	 WHERE UPPER(ID)=UPPER(#{id})
</update>

<delete id="del_id" parameterType="GasUserDto">
	DELETE FROM GASMEMBER WHERE ID=#{id}
</delete>

<select id="userlist" resultType="GasUserDto">
	SELECT * FROM GASMEMBER
</select>

<!-- dto없이 사용하는방법 -->
<!-- resultType="HashMap" 이렇게 해준다 -->
<!-- 키값은 칼럼명이 된다 -->
<select id="blacklist" resultType="HashMap">
	SELECT * FROM GAS_BLACKLIST
</select>

<!-- dto없이 사용하는방법 -->
<!-- parameterType="Map" 이렇게 -->
<insert id="black_insert" parameterType="Map">
	INSERT INTO GAS_BLACKLIST VALUES(#{id},#{black_id},#{why},#{content},SYSDATE)
</insert>

<select id="bookmarklist" resultType="BookMarkDto" parameterType="String">
	SELECT ID,B_NAME,LOCATION,GASOLINE,DIESEL,LPG,UNI_ID,REGDATE FROM GASBOOKMARK WHERE ID=#{id} ORDER BY REGDATE DESC
</select>

<update id="reloadprice" parameterType="BookMarkDto">
	UPDATE GASBOOKMARK SET GASOLINE=#{gasoline}, DIESEL=#{diesel}, LPG=#{lpg},REGDATE=SYSDATE WHERE ID=#{id} AND UNI_ID=#{uni_id}
</update>

<delete id="delbookmark" parameterType="BookMarkDto">
	DELETE FROM GASBOOKMARK WHERE ID=#{id} AND UNI_ID=#{uni_id}
</delete>

<insert id="insertbookmark" parameterType="BookMarkDto">
	INSERT INTO GASBOOKMARK VALUES(#{id},#{b_name},#{location},#{gasoline},#{diesel},#{lpg},#{uni_id},SYSDATE) 
</insert>

<select id="freeboardlist" resultType="FreeBoardDto">
	SELECT SEQ,ID,TITLE,CONTENT,REGDATE,REFER,STEP,DEPTH,READCOUNT,LIKECOUNT FROM GASFREEBOARD WHERE STEP=0 ORDER BY REFER DESC,STEP ASC
</select>

<select id="alllist" resultType="FreeBoardDto">
	SELECT SEQ,ID,TITLE,CONTENT,REGDATE,REFER,STEP,DEPTH,READCOUNT,LIKECOUNT FROM GASFREEBOARD ORDER BY REFER DESC,STEP ASC
</select>
<select id="freeboardpage" resultType="FreeBoardDto" parameterType="Map">
	SELECT SEQ,ID,TITLE,CONTENT,REGDATE,REFER,STEP,DEPTH,READCOUNT,LIKECOUNT FROM (SELECT ROWNUM AS RN , SEQ,ID,TITLE,CONTENT,REGDATE,REFER,STEP,DEPTH,READCOUNT,LIKECOUNT FROM (SELECT * FROM GASFREEBOARD ORDER BY REFER DESC,STEP ASC) WHERE STEP=0) WHERE RN BETWEEN #{min} AND #{max}
</select>

<select id="searchalllist" resultType="FreeBoardDto" parameterType="Map">
	SELECT SEQ,ID,TITLE,CONTENT,REGDATE,REFER,STEP,DEPTH,READCOUNT,LIKECOUNT
	 FROM GASFREEBOARD 
	 <if test="search=='id'">
	 	WHERE ID LIKE '%'||#{index}||'%'
	 </if>
	 <if test="search=='title'">
	 	WHERE TITLE LIKE '%'||#{index}||'%'
	 </if>
	 <if test="search=='content'">
	 	WHERE CONTENT LIKE '%'||#{index}||'%'
	 </if>
	ORDER BY REFER DESC,STEP ASC
</select>

<select id="searchlist" resultType="FreeBoardDto" parameterType="Map">
	SELECT SEQ,ID,TITLE,CONTENT,REGDATE,REFER,STEP,DEPTH,READCOUNT,LIKECOUNT
	 FROM GASFREEBOARD 
	 <if test="search=='id'">
	 	WHERE STEP=0 AND ID LIKE '%'||#{index}||'%'
	 </if>
	 <if test="search=='title'">
	 	WHERE STEP=0 AND TITLE LIKE '%'||#{index}||'%'
	 </if>
	 <if test="search=='content'">
	 	WHERE STEP=0 AND CONTENT LIKE '%'||#{index}||'%'
	 </if>
	ORDER BY REFER DESC,STEP ASC
</select>

<select id="searchpage" resultType="FreeBoardDto" parameterType="Map">
	SELECT SEQ,ID,TITLE,CONTENT,REGDATE,REFER,STEP,DEPTH,READCOUNT,LIKECOUNT 
	FROM (SELECT ROWNUM AS RN , SEQ,ID,TITLE,CONTENT,REGDATE,REFER,STEP,DEPTH,READCOUNT,LIKECOUNT FROM (SELECT * FROM GASFREEBOARD ORDER BY REFER DESC,STEP ASC) 
	<if test="search=='id'">
	 	 WHERE STEP=0 AND ID LIKE '%'||#{index}||'%'
	 </if>
	 <if test="search=='title'">
	 	 WHERE STEP=0 AND TITLE LIKE '%'||#{index}||'%'
	 </if>
	 <if test="search=='content'">
	 	 WHERE STEP=0 AND CONTENT LIKE '%'||#{index}||'%'
	 </if>
	) 
	WHERE RN BETWEEN #{min} AND #{max}
	
</select>

<insert id="insertfreeboard" parameterType="FreeBoardDto">
	INSERT INTO GASFREEBOARD VALUES(GASFREEBOARD_SEQ.NEXTVAL,#{id},#{title},#{content},SYSDATE,(SELECT NVL(MAX(REFER)+1,0) FROM GASFREEBOARD),0,0,0,null)  
</insert>

<update id="readcount" parameterType="int">
	UPDATE GASFREEBOARD SET READCOUNT=READCOUNT+1 WHERE SEQ=#{seq}
</update>

<update id="updatefreeboard" parameterType="FreeBoardDto">	
	UPDATE GASFREEBOARD SET TITLE=#{title}, CONTENT=#{content} WHERE SEQ=#{seq}
</update>

<update id="updatereply" parameterType="FreeBoardDto">	
	UPDATE GASFREEBOARD SET CONTENT=#{content} WHERE SEQ=#{seq}
</update>

<delete id="deletefreeboard" parameterType="int">
	DELETE FROM GASFREEBOARD WHERE REFER=(SELECT REFER FROM GASFREEBOARD WHERE SEQ=#{seq})
</delete>

<delete id="deletereply" parameterType="int">
	DELETE FROM GASFREEBOARD WHERE SEQ=#{seq}
</delete>

<select id="freegetboard" parameterType="int" resultType="FreeBoardDto">
	SELECT SEQ,ID,TITLE,CONTENT,REGDATE,REFER,STEP,DEPTH,READCOUNT,LIKECOUNT FROM GASFREEBOARD WHERE SEQ=#{seq}
</select>

<select id="freegetreply" parameterType="int" resultType="FreeBoardDto">
	SELECT SEQ,ID,TITLE,CONTENT,REGDATE,REFER,STEP,DEPTH,READCOUNT,LIKECOUNT FROM GASFREEBOARD WHERE REFER=(SELECT REFER FROM GASFREEBOARD WHERE SEQ=#{seq}) ORDER BY REGDATE
</select>

<insert id="freeinsertreply" parameterType="FreeBoardDto">
	INSERT INTO GASFREEBOARD VALUES(GASREPLY_SEQ.NEXTVAL,#{id},#{title},#{content},SYSDATE,(SELECT REFER FROM GASFREEBOARD WHERE SEQ=#{seq}),(SELECT STEP FROM GASFREEBOARD WHERE SEQ=#{seq})+1,(SELECT DEPTH FROM GASFREEBOARD WHERE SEQ=#{seq})+1,0,null)
</insert>

<update id="likeup" parameterType="FreeBoardDto">
	UPDATE GASFREEBOARD SET LIKECOUNT=#{likecount} WHERE SEQ=#{seq}
</update>

<!-- 	<select id="boardlist" resultType="AnsDto" parameterType="Map"> -->
<!-- 		SELECT SEQ, ID, TITLE, CONTENT, REGDATE, -->
<!-- 				REFER, STEP, DEPTH, READCOUNT, DELFLAG -->
<!-- 				FROM HKANSWERBOARD -->
<!-- 				<if test="seq!=null"> -->
<!-- 					<where> -->
<!-- 						<include refid="paramseq"/> -->
<!-- 					</where> -->
<!-- 				</if> -->
<!-- 				ORDER BY REFER, STEP -->
<!-- 	</select>	   -->


	
	


<!--  다이나믹쿼리를 사용할 때는 반드시 파라미터를 Map으로 전달해야 한다 -->
<!-- <update id="muldel" parameterType="Map"> -->
<!-- 	UPDATE HKANSWERBOARD SET DELFLAG='Y' WHERE SEQ IN  -->
<!-- 	<foreach collection="seqs" item="seq" open="(" close=")" separator=","> -->
<!-- 	#{seq} -->
<!-- 	</foreach> -->
<!-- </update> -->

<!-- <update id="ansupdate" parameterType="AnsDto"> -->
<!-- 	UPDATE HKANSWERBOARD SET STEP=STEP+1 -->
<!-- 				WHERE REFER=(SELECT REFER FROM HKANSWERBOARD WHERE SEQ=#{seq}) -->
<!-- 				AND STEP>(SELECT STEP FROM HKANSWERBOARD WHERE SEQ=#{seq}) -->
<!-- </update> -->

<!-- <insert id="ansinsert" parameterType="AnsDto"> -->
<!-- 	INSERT INTO HKANSWERBOARD VALUES( -->
<!-- 	HKANSWERBOARD_SEQ.NEXTVAL, #{id}, #{title}, #{content}, SYSDATE, -->
<!-- 	(SELECT REFER FROM HKANSWERBOARD WHERE SEQ=#{seq}), -->
<!-- 	(SELECT STEP FROM HKANSWERBOARD WHERE SEQ=#{seq})+1, -->
<!-- 	(SELECT DEPTH FROM HKANSWERBOARD WHERE SEQ=#{seq})+1,0,'N') -->
<!-- </insert> -->

<!-- <select id="detailAjax" parameterType="int" resultType="AnsDto"> -->
<!-- 	select seq, id, title, content, regdate, -->
<!-- 				refer, step, depth, readcount, delflag -->
<!-- 				from hkanswerboard WHERE SEQ=#{seq} -->
<!-- </select> -->


<!-- 	<sql id="paramseq"> -->
<!-- 		SEQ=#{seq} -->
<!-- 	</sql> -->



</mapper>